In [1]:
import pandas as pd

# # Passing a URL to read_csv() method.

In [8]:
# Getting the URL of UMCSI CSV file.
url = 'http://www.sca.isr.umich.edu/files/tbmics.csv'

# Passing the URL to pd.read_csv() method.
umcsi = pd.read_csv(url, index_col=['YYYY', 'Month'])
umcsi.tail(12)

                ICS_ALL
YYYY Month
2019 July          98.4
     August        89.8
     September     93.2
     October       95.5
     November      96.8
     December      99.3
2020 January       99.8
     February     101.0
     March         89.1
     April         71.8
     May           72.3
     June          78.1

# # converting pandas object to python objects.

In [9]:
# converting a DataFrame column to a list.

umcsi['ICS_ALL'].to_list()

[86.2,
 90.7,
 80.8,
 80.7,
 82.0,
 82.9,
 87.0,
 95.9,
 99.1,
 99.7,
 98.2,
 99.9,
 100.2,
 92.9,
 83.7,
 78.5,
 80.9,
 90.8,
 95.3,
 93.8,
 100.0,
 93.3,
 97.2,
 90.1,
 91.6,
 92.5,
 99.2,
 93.0,
 99.9,
 95.4,
 91.6,
 95.0,
 98.4,
 91.7,
 96.4,
 94.4,
 99.5,
 98.5,
 100.6,
 99.9,
 102.0,
 105.4,
 103.4,
 102.9,
 100.0,
 95.7,
 91.2,
 88.3,
 94.1,
 95.9,
 97.0,
 92.9,
 97.2,
 92.4,
 92.4,
 91.7,
 98.2,
 91.5,
 86.4,
 79.7,
 78.1,
 75.4,
 77.6,
 72.4,
 78.1,
 80.2,
 82.1,
 82.0,
 92.8,
 88.6,
 95.2,
 90.7,
 81.9,
 77.0,
 72.0,
 76.5,
 61.8,
 72.1,
 64.4,
 59.5,
 57.6,
 72.8,
 75.7,
 75.6,
 84.6,
 83.3,
 89.7,
 87.0,
 87.1,
 90.2,
 89.0,
 84.4,
 83.7,
 84.3,
 78.8,
 81.6,
 82.9,
 80.0,
 82.4,
 78.4,
 80.4,
 79.3,
 75.0,
 66.1,
 72.1,
 73.9,
 68.4,
 66.0,
 68.1,
 65.8,
 60.4,
 64.5,
 66.7,
 62.1,
 63.3,
 61.0,
 67.0,
 66.9,
 56.5,
 52.7,
 51.7,
 58.7,
 62.3,
 67.3,
 73.7,
 75.0,
 76.7,
 64.5,
 71.4,
 66.9,
 66.5,
 72.4,
 76.3,
 73.1,
 74.1,
 77.2,
 73.1,
 70.3,
 62.5,
 64.3,
 71.0,
 66.5,
 62.0,
 65.5,
 67.5,
 65.7,
 65.4,
 65.4,
 69.3,
 73.4,
 72.1,
 71.9,
 70.4,
 74.6,
 80.8,
 89.1,
 93.3,
 92.2,
 92.8,
 90.9,
 89.9,
 89.3,
 91.1,
 94.2,
 100.1,
 97.4,
 101.0,
 96.1,
 98.1,
 95.5,
 96.6,
 99.1,
 100.9,
 96.3,
 95.7,
 92.9,
 96.0,
 93.7,
 93.7,
 94.6,
 91.8,
 96.5,
 94.0,
 92.4,
 92.1,
 88.4,
 90.9,
 93.9,
 95.6,
 95.9,
 95.1,
 96.2,
 94.8,
 99.3,
 97.7,
 94.9,
 91.9,
 95.6,
 91.4,
 89.1,
 90.4,
 90.2,
 90.8,
 92.8,
 91.1,
 91.5,
 93.7,
 94.4,
 93.6,
 89.3,
 83.1,
 86.8,
 90.8,
 91.6,
 94.6,
 91.2,
 94.8,
 94.7,
 93.4,
 97.4,
 97.3,
 94.1,
 93.0,
 91.9,
 97.9,
 95.4,
 94.3,
 91.5,
 90.7,
 90.6,
 92.0,
 89.6,
 95.8,
 93.9,
 90.9,
 90.5,
 93.0,
 89.5,
 91.3,
 93.9,
 90.6,
 88.3,
 88.2,
 76.4,
 72.8,
 63.9,
 66.0,
 65.5,
 66.8,
 70.4,
 87.7,
 81.8,
 78.3,
 82.1,
 82.9,
 82.0,
 83.0,
 78.3,
 69.1,
 68.2,
 67.5,
 68.8,
 76.0,
 77.2,
 79.2,
 80.4,
 76.6,
 76.1,
 75.6,
 73.3,
 85.3,
 91.0,
 89.3,
 86.6,
 85.9,
 85.6,
 80.3,
 81.5,
 77.0,
 77.3,
 77.9,
 82.7,
 81.2,
 88.2,
 94.3,
 93.2,
 91.5,
 92.6,
 92.8,
 91.2,
 89.0,
 91.7,
 91.5,
 92.7,
 91.6,
 95.1,
 97.6,
 95.1,
 90.3,
 92.5,
 89.8,
 92.7,
 94.4,
 96.2,
 88.9,
 90.2,
 88.2,
 91.0,
 89.3,
 88.5,
 93.7,
 92.7,
 89.4,
 92.4,
 94.7,
 95.3,
 94.7,
 96.5,
 99.2,
 96.9,
 97.4,
 99.7,
 100.0,
 101.4,
 103.2,
 104.5,
 107.1,
 104.4,
 106.0,
 105.6,
 107.2,
 102.1,
 106.6,
 110.4,
 106.5,
 108.7,
 106.5,
 105.6,
 105.2,
 104.4,
 100.9,
 97.4,
 102.7,
 100.5,
 103.9,
 108.1,
 105.7,
 104.6,
 106.8,
 107.3,
 106.0,
 104.5,
 107.2,
 103.2,
 107.2,
 105.4,
 112.0,
 111.3,
 107.1,
 109.2,
 110.7,
 106.4,
 108.3,
 107.3,
 106.8,
 105.8,
 107.6,
 98.4,
 94.7,
 90.6,
 91.5,
 88.4,
 92.0,
 92.6,
 92.4,
 91.5,
 81.8,
 82.7,
 83.9,
 88.8,
 93.0,
 90.7,
 95.7,
 93.0,
 96.9,
 92.4,
 88.1,
 87.6,
 86.1,
 80.6,
 84.2,
 86.7,
 82.4,
 79.9,
 77.6,
 86.0,
 92.1,
 89.7,
 90.9,
 89.3,
 87.7,
 89.6,
 93.7,
 92.6,
 103.8,
 94.4,
 95.8,
 94.2,
 90.2,
 95.6,
 96.7,
 95.9,
 94.2,
 91.7,
 92.8,
 97.1,
 95.5,
 94.1,
 92.6,
 87.7,
 86.9,
 96.0,
 96.5,
 89.1,
 76.9,
 74.2,
 81.6,
 91.5,
 91.2,
 86.7,
 88.9,
 87.4,
 79.1,
 84.9,
 84.7,
 82.0,
 85.4,
 93.6,
 92.1,
 91.7,
 96.9,
 91.3,
 88.4,
 87.1,
 88.3,
 85.3,
 90.4,
 83.4,
 83.4,
 80.9,
 76.1,
 75.5,
 78.4,
 70.8,
 69.5,
 62.6,
 59.8,
 56.4,
 61.2,
 63.0,
 70.3,
 57.6,
 55.3,
 60.1,
 61.2,
 56.3,
 57.3,
 65.1,
 68.7,
 70.8,
 66.0,
 65.7,
 73.5,
 70.6,
 67.4,
 72.5,
 74.4,
 73.6,
 73.6,
 72.2,
 73.6,
 76.0,
 67.8,
 68.9,
 68.2,
 67.7,
 71.6,
 74.5,
 74.2,
 77.5,
 67.5,
 69.8,
 74.3,
 71.5,
 63.7,
 55.8,
 59.5,
 60.8,
 63.7,
 69.9,
 75.0,
 75.3,
 76.2,
 76.4,
 79.3,
 73.2,
 72.3,
 74.3,
 78.3,
 82.6,
 82.7,
 72.9,
 73.8,
 77.6,
 78.6,
 76.4,
 84.5,
 84.1,
 85.1,
 82.1,
 77.5,
 73.2,
 75.1,
 82.5,
 81.2,
 81.6,
 80.0,
 84.1,
 81.9,
 82.5,
 81.8,
 82.5,
 84.6,
 86.9,
 88.8,
 93.6,
 98.1,
 95.4,
 93.0,
 95.9,
 90.7,
 96.1,
 93.1,
 91.9,
 87.2,
 90.0,
 91.3,
 92.6,
 92.0,
 91.7,
 91.0,
 89.0,
 94.7,
 93.5,
 90.0,
 89.8,
 91.2,
 87.2,
 93.8,
 98.2,
 98.5,
 96.3,
 96.9,
 97.0,
 97.1,
 95.0,
 93.4,
 96.8,
 95.1,
 100.7,
 98.5,
 95.9,
 95.7,
 99.7,
 101.4,
 98.8,
 98.0,
 98.2,
 97.9,
 96.2,
 100.1,
 98.6,
 97.5,
 98.3,
 91.2,
 93.8,
 98.4,
 97.2,
 100.0,
 98.2,
 98.4,
 89.8,
 93.2,
 95.5,
 96.8,
 99.3,
 99.8,
 101.0,
 89.1,
 71.8,
 72.3,
 78.1]

In [10]:
# converting a DataFrame column to a Dictionary.
# It will take index as dict key.

umcsi['ICS_ALL'].to_dict()

{(1952, 'November'): 86.2,
 (1953, 'February'): 90.7,
 (1953, 'August'): 80.8,
 (1953, 'November'): 80.7,
 (1954, 'February'): 82.0,
 (1954, 'May'): 82.9,
 (1954, 'November'): 87.0,
 (1955, 'February'): 95.9,
 (1955, 'May'): 99.1,
 (1955, 'November'): 99.7,
 (1956, 'May'): 98.2,
 (1956, 'August'): 99.9,
 (1956, 'November'): 100.2,
 (1957, 'May'): 92.9,
 (1957, 'November'): 83.7,
 (1958, 'February'): 78.5,
 (1958, 'May'): 80.9,
 (1958, 'November'): 90.8,
 (1959, 'May'): 95.3,
 (1959, 'November'): 93.8,
 (1960, 'February'): 100.0,
 (1960, 'May'): 93.3,
 (1960, 'August'): 97.2,
 (1960, 'November'): 90.1,
 (1961, 'February'): 91.6,
 (1961, 'May'): 92.5,
 (1961, 'August'): 99.2,
 (1961, 'November'): 93.0,
 (1962, 'February'): 99.9,
 (1962, 'May'): 95.4,
 (1962, 'August'): 91.6,
 (1962, 'November'): 95.0,
 (1963, 'February'): 98.4,
 (1963, 'May'): 91.7,
 (1963, 'August'): 96.4,
 (1963, 'November'): 94.4,
 (1964, 'February'): 99.5,
 (1964, 'May'): 98.5,
 (1964, 'August'): 100.6,
 (1964, 'November'): 99.9,
 (1965, 'February'): 102.0,
 (1965, 'May'): 105.4,
 (1965, 'August'): 103.4,
 (1965, 'November'): 102.9,
 (1966, 'February'): 100.0,
 (1966, 'May'): 95.7,
 (1966, 'August'): 91.2,
 (1966, 'November'): 88.3,
 (1967, 'February'): 94.1,
 (1967, 'May'): 95.9,
 (1967, 'August'): 97.0,
 (1967, 'November'): 92.9,
 (1968, 'February'): 97.2,
 (1968, 'May'): 92.4,
 (1968, 'August'): 92.4,
 (1968, 'November'): 91.7,
 (1969, 'February'): 98.2,
 (1969, 'May'): 91.5,
 (1969, 'August'): 86.4,
 (1969, 'November'): 79.7,
 (1970, 'February'): 78.1,
 (1970, 'May'): 75.4,
 (1970, 'August'): 77.6,
 (1970, 'November'): 72.4,
 (1971, 'February'): 78.1,
 (1971, 'May'): 80.2,
 (1971, 'August'): 82.1,
 (1971, 'November'): 82.0,
 (1972, 'February'): 92.8,
 (1972, 'May'): 88.6,
 (1972, 'August'): 95.2,
 (1972, 'November'): 90.7,
 (1973, 'February'): 81.9,
 (1973, 'May'): 77.0,
 (1973, 'August'): 72.0,
 (1973, 'November'): 76.5,
 (1974, 'February'): 61.8,
 (1974, 'May'): 72.1,
 (1974, 'August'): 64.4,
 (1974, 'November'): 59.5,
 (1975, 'February'): 57.6,
 (1975, 'May'): 72.8,
 (1975, 'August'): 75.7,
 (1975, 'November'): 75.6,
 (1976, 'February'): 84.6,
 (1976, 'May'): 83.3,
 (1976, 'August'): 89.7,
 (1976, 'November'): 87.0,
 (1977, 'February'): 87.1,
 (1977, 'May'): 90.2,
 (1977, 'August'): 89.0,
 (1977, 'November'): 84.4,
 (1978, 'January'): 83.7,
 (1978, 'February'): 84.3,
 (1978, 'March'): 78.8,
 (1978, 'April'): 81.6,
 (1978, 'May'): 82.9,
 (1978, 'June'): 80.0,
 (1978, 'July'): 82.4,
 (1978, 'August'): 78.4,
 (1978, 'September'): 80.4,
 (1978, 'October'): 79.3,
 (1978, 'November'): 75.0,
 (1978, 'December'): 66.1,
 (1979, 'January'): 72.1,
 (1979, 'February'): 73.9,
 (1979, 'March'): 68.4,
 (1979, 'April'): 66.0,
 (1979, 'May'): 68.1,
 (1979, 'June'): 65.8,
 (1979, 'July'): 60.4,
 (1979, 'August'): 64.5,
 (1979, 'September'): 66.7,
 (1979, 'October'): 62.1,
 (1979, 'November'): 63.3,
 (1979, 'December'): 61.0,
 (1980, 'January'): 67.0,
 (1980, 'February'): 66.9,
 (1980, 'March'): 56.5,
 (1980, 'April'): 52.7,
 (1980, 'May'): 51.7,
 (1980, 'June'): 58.7,
 (1980, 'July'): 62.3,
 (1980, 'August'): 67.3,
 (1980, 'September'): 73.7,
 (1980, 'October'): 75.0,
 (1980, 'November'): 76.7,
 (1980, 'December'): 64.5,
 (1981, 'January'): 71.4,
 (1981, 'February'): 66.9,
 (1981, 'March'): 66.5,
 (1981, 'April'): 72.4,
 (1981, 'May'): 76.3,
 (1981, 'June'): 73.1,
 (1981, 'July'): 74.1,
 (1981, 'August'): 77.2,
 (1981, 'September'): 73.1,
 (1981, 'October'): 70.3,
 (1981, 'November'): 62.5,
 (1981, 'December'): 64.3,
 (1982, 'January'): 71.0,
 (1982, 'February'): 66.5,
 (1982, 'March'): 62.0,
 (1982, 'April'): 65.5,
 (1982, 'May'): 67.5,
 (1982, 'June'): 65.7,
 (1982, 'July'): 65.4,
 (1982, 'August'): 65.4,
 (1982, 'September'): 69.3,
 (1982, 'October'): 73.4,
 (1982, 'November'): 72.1,
 (1982, 'December'): 71.9,
 (1983, 'January'): 70.4,
 (1983, 'February'): 74.6,
 (1983, 'March'): 80.8,
 (1983, 'April'): 89.1,
 (1983, 'May'): 93.3,
 (1983, 'June'): 92.2,
 (1983, 'July'): 92.8,
 (1983, 'August'): 90.9,
 (1983, 'September'): 89.9,
 (1983, 'October'): 89.3,
 (1983, 'November'): 91.1,
 (1983, 'December'): 94.2,
 (1984, 'January'): 100.1,
 (1984, 'February'): 97.4,
 (1984, 'March'): 101.0,
 (1984, 'April'): 96.1,
 (1984, 'May'): 98.1,
 (1984, 'June'): 95.5,
 (1984, 'July'): 96.6,
 (1984, 'August'): 99.1,
 (1984, 'September'): 100.9,
 (1984, 'October'): 96.3,
 (1984, 'November'): 95.7,
 (1984, 'December'): 92.9,
 (1985, 'January'): 96.0,
 (1985, 'February'): 93.7,
 (1985, 'March'): 93.7,
 (1985, 'April'): 94.6,
 (1985, 'May'): 91.8,
 (1985, 'June'): 96.5,
 (1985, 'July'): 94.0,
 (1985, 'August'): 92.4,
 (1985, 'September'): 92.1,
 (1985, 'October'): 88.4,
 (1985, 'November'): 90.9,
 (1985, 'December'): 93.9,
 (1986, 'January'): 95.6,
 (1986, 'February'): 95.9,
 (1986, 'March'): 95.1,
 (1986, 'April'): 96.2,
 (1986, 'May'): 94.8,
 (1986, 'June'): 99.3,
 (1986, 'July'): 97.7,
 (1986, 'August'): 94.9,
 (1986, 'September'): 91.9,
 (1986, 'October'): 95.6,
 (1986, 'November'): 91.4,
 (1986, 'December'): 89.1,
 (1987, 'January'): 90.4,
 (1987, 'February'): 90.2,
 (1987, 'March'): 90.8,
 (1987, 'April'): 92.8,
 (1987, 'May'): 91.1,
 (1987, 'June'): 91.5,
 (1987, 'July'): 93.7,
 (1987, 'August'): 94.4,
 (1987, 'September'): 93.6,
 (1987, 'October'): 89.3,
 (1987, 'November'): 83.1,
 (1987, 'December'): 86.8,
 (1988, 'January'): 90.8,
 (1988, 'February'): 91.6,
 (1988, 'March'): 94.6,
 (1988, 'April'): 91.2,
 (1988, 'May'): 94.8,
 (1988, 'June'): 94.7,
 (1988, 'July'): 93.4,
 (1988, 'August'): 97.4,
 (1988, 'September'): 97.3,
 (1988, 'October'): 94.1,
 (1988, 'November'): 93.0,
 (1988, 'December'): 91.9,
 (1989, 'January'): 97.9,
 (1989, 'February'): 95.4,
 (1989, 'March'): 94.3,
 (1989, 'April'): 91.5,
 (1989, 'May'): 90.7,
 (1989, 'June'): 90.6,
 (1989, 'July'): 92.0,
 (1989, 'August'): 89.6,
 (1989, 'September'): 95.8,
 (1989, 'October'): 93.9,
 (1989, 'November'): 90.9,
 (1989, 'December'): 90.5,
 (1990, 'January'): 93.0,
 (1990, 'February'): 89.5,
 (1990, 'March'): 91.3,
 (1990, 'April'): 93.9,
 (1990, 'May'): 90.6,
 (1990, 'June'): 88.3,
 (1990, 'July'): 88.2,
 (1990, 'August'): 76.4,
 (1990, 'September'): 72.8,
 (1990, 'October'): 63.9,
 (1990, 'November'): 66.0,
 (1990, 'December'): 65.5,
 (1991, 'January'): 66.8,
 (1991, 'February'): 70.4,
 (1991, 'March'): 87.7,
 (1991, 'April'): 81.8,
 (1991, 'May'): 78.3,
 (1991, 'June'): 82.1,
 (1991, 'July'): 82.9,
 (1991, 'August'): 82.0,
 (1991, 'September'): 83.0,
 (1991, 'October'): 78.3,
 (1991, 'November'): 69.1,
 (1991, 'December'): 68.2,
 (1992, 'January'): 67.5,
 (1992, 'February'): 68.8,
 (1992, 'March'): 76.0,
 (1992, 'April'): 77.2,
 (1992, 'May'): 79.2,
 (1992, 'June'): 80.4,
 (1992, 'July'): 76.6,
 (1992, 'August'): 76.1,
 (1992, 'September'): 75.6,
 (1992, 'October'): 73.3,
 (1992, 'November'): 85.3,
 (1992, 'December'): 91.0,
 (1993, 'January'): 89.3,
 (1993, 'February'): 86.6,
 (1993, 'March'): 85.9,
 (1993, 'April'): 85.6,
 (1993, 'May'): 80.3,
 (1993, 'June'): 81.5,
 (1993, 'July'): 77.0,
 (1993, 'August'): 77.3,
 (1993, 'September'): 77.9,
 (1993, 'October'): 82.7,
 (1993, 'November'): 81.2,
 (1993, 'December'): 88.2,
 (1994, 'January'): 94.3,
 (1994, 'February'): 93.2,
 (1994, 'March'): 91.5,
 (1994, 'April'): 92.6,
 (1994, 'May'): 92.8,
 (1994, 'June'): 91.2,
 (1994, 'July'): 89.0,
 (1994, 'August'): 91.7,
 (1994, 'September'): 91.5,
 (1994, 'October'): 92.7,
 (1994, 'November'): 91.6,
 (1994, 'December'): 95.1,
 (1995, 'January'): 97.6,
 (1995, 'February'): 95.1,
 (1995, 'March'): 90.3,
 (1995, 'April'): 92.5,
 (1995, 'May'): 89.8,
 (1995, 'June'): 92.7,
 (1995, 'July'): 94.4,
 (1995, 'August'): 96.2,
 (1995, 'September'): 88.9,
 (1995, 'October'): 90.2,
 (1995, 'November'): 88.2,
 (1995, 'December'): 91.0,
 (1996, 'January'): 89.3,
 (1996, 'February'): 88.5,
 (1996, 'March'): 93.7,
 (1996, 'April'): 92.7,
 (1996, 'May'): 89.4,
 (1996, 'June'): 92.4,
 (1996, 'July'): 94.7,
 (1996, 'August'): 95.3,
 (1996, 'September'): 94.7,
 (1996, 'October'): 96.5,
 (1996, 'November'): 99.2,
 (1996, 'December'): 96.9,
 (1997, 'January'): 97.4,
 (1997, 'February'): 99.7,
 (1997, 'March'): 100.0,
 (1997, 'April'): 101.4,
 (1997, 'May'): 103.2,
 (1997, 'June'): 104.5,
 (1997, 'July'): 107.1,
 (1997, 'August'): 104.4,
 (1997, 'September'): 106.0,
 (1997, 'October'): 105.6,
 (1997, 'November'): 107.2,
 (1997, 'December'): 102.1,
 (1998, 'January'): 106.6,
 (1998, 'February'): 110.4,
 (1998, 'March'): 106.5,
 (1998, 'April'): 108.7,
 (1998, 'May'): 106.5,
 (1998, 'June'): 105.6,
 (1998, 'July'): 105.2,
 (1998, 'August'): 104.4,
 (1998, 'September'): 100.9,
 (1998, 'October'): 97.4,
 (1998, 'November'): 102.7,
 (1998, 'December'): 100.5,
 (1999, 'January'): 103.9,
 (1999, 'February'): 108.1,
 (1999, 'March'): 105.7,
 (1999, 'April'): 104.6,
 (1999, 'May'): 106.8,
 (1999, 'June'): 107.3,
 (1999, 'July'): 106.0,
 (1999, 'August'): 104.5,
 (1999, 'September'): 107.2,
 (1999, 'October'): 103.2,
 (1999, 'November'): 107.2,
 (1999, 'December'): 105.4,
 (2000, 'January'): 112.0,
 (2000, 'February'): 111.3,
 (2000, 'March'): 107.1,
 (2000, 'April'): 109.2,
 (2000, 'May'): 110.7,
 (2000, 'June'): 106.4,
 (2000, 'July'): 108.3,
 (2000, 'August'): 107.3,
 (2000, 'September'): 106.8,
 (2000, 'October'): 105.8,
 (2000, 'November'): 107.6,
 (2000, 'December'): 98.4,
 (2001, 'January'): 94.7,
 (2001, 'February'): 90.6,
 (2001, 'March'): 91.5,
 (2001, 'April'): 88.4,
 (2001, 'May'): 92.0,
 (2001, 'June'): 92.6,
 (2001, 'July'): 92.4,
 (2001, 'August'): 91.5,
 (2001, 'September'): 81.8,
 (2001, 'October'): 82.7,
 (2001, 'November'): 83.9,
 (2001, 'December'): 88.8,
 (2002, 'January'): 93.0,
 (2002, 'February'): 90.7,
 (2002, 'March'): 95.7,
 (2002, 'April'): 93.0,
 (2002, 'May'): 96.9,
 (2002, 'June'): 92.4,
 (2002, 'July'): 88.1,
 (2002, 'August'): 87.6,
 (2002, 'September'): 86.1,
 (2002, 'October'): 80.6,
 (2002, 'November'): 84.2,
 (2002, 'December'): 86.7,
 (2003, 'January'): 82.4,
 (2003, 'February'): 79.9,
 (2003, 'March'): 77.6,
 (2003, 'April'): 86.0,
 (2003, 'May'): 92.1,
 (2003, 'June'): 89.7,
 (2003, 'July'): 90.9,
 (2003, 'August'): 89.3,
 (2003, 'September'): 87.7,
 (2003, 'October'): 89.6,
 (2003, 'November'): 93.7,
 (2003, 'December'): 92.6,
 (2004, 'January'): 103.8,
 (2004, 'February'): 94.4,
 (2004, 'March'): 95.8,
 (2004, 'April'): 94.2,
 (2004, 'May'): 90.2,
 (2004, 'June'): 95.6,
 (2004, 'July'): 96.7,
 (2004, 'August'): 95.9,
 (2004, 'September'): 94.2,
 (2004, 'October'): 91.7,
 (2004, 'November'): 92.8,
 (2004, 'December'): 97.1,
 (2005, 'January'): 95.5,
 (2005, 'February'): 94.1,
 (2005, 'March'): 92.6,
 (2005, 'April'): 87.7,
 (2005, 'May'): 86.9,
 (2005, 'June'): 96.0,
 (2005, 'July'): 96.5,
 (2005, 'August'): 89.1,
 (2005, 'September'): 76.9,
 (2005, 'October'): 74.2,
 (2005, 'November'): 81.6,
 (2005, 'December'): 91.5,
 (2006, 'January'): 91.2,
 (2006, 'February'): 86.7,
 (2006, 'March'): 88.9,
 (2006, 'April'): 87.4,
 (2006, 'May'): 79.1,
 (2006, 'June'): 84.9,
 (2006, 'July'): 84.7,
 (2006, 'August'): 82.0,
 (2006, 'September'): 85.4,
 (2006, 'October'): 93.6,
 (2006, 'November'): 92.1,
 (2006, 'December'): 91.7,
 (2007, 'January'): 96.9,
 (2007, 'February'): 91.3,
 (2007, 'March'): 88.4,
 (2007, 'April'): 87.1,
 (2007, 'May'): 88.3,
 (2007, 'June'): 85.3,
 (2007, 'July'): 90.4,
 (2007, 'August'): 83.4,
 (2007, 'September'): 83.4,
 (2007, 'October'): 80.9,
 (2007, 'November'): 76.1,
 (2007, 'December'): 75.5,
 (2008, 'January'): 78.4,
 (2008, 'February'): 70.8,
 (2008, 'March'): 69.5,
 (2008, 'April'): 62.6,
 (2008, 'May'): 59.8,
 (2008, 'June'): 56.4,
 (2008, 'July'): 61.2,
 (2008, 'August'): 63.0,
 (2008, 'September'): 70.3,
 (2008, 'October'): 57.6,
 (2008, 'November'): 55.3,
 (2008, 'December'): 60.1,
 (2009, 'January'): 61.2,
 (2009, 'February'): 56.3,
 (2009, 'March'): 57.3,
 (2009, 'April'): 65.1,
 (2009, 'May'): 68.7,
 (2009, 'June'): 70.8,
 (2009, 'July'): 66.0,
 (2009, 'August'): 65.7,
 (2009, 'September'): 73.5,
 (2009, 'October'): 70.6,
 (2009, 'November'): 67.4,
 (2009, 'December'): 72.5,
 (2010, 'January'): 74.4,
 (2010, 'February'): 73.6,
 (2010, 'March'): 73.6,
 (2010, 'April'): 72.2,
 (2010, 'May'): 73.6,
 (2010, 'June'): 76.0,
 (2010, 'July'): 67.8,
 (2010, 'August'): 68.9,
 (2010, 'September'): 68.2,
 (2010, 'October'): 67.7,
 (2010, 'November'): 71.6,
 (2010, 'December'): 74.5,
 (2011, 'January'): 74.2,
 (2011, 'February'): 77.5,
 (2011, 'March'): 67.5,
 (2011, 'April'): 69.8,
 (2011, 'May'): 74.3,
 (2011, 'June'): 71.5,
 (2011, 'July'): 63.7,
 (2011, 'August'): 55.8,
 (2011, 'September'): 59.5,
 (2011, 'October'): 60.8,
 (2011, 'November'): 63.7,
 (2011, 'December'): 69.9,
 (2012, 'January'): 75.0,
 (2012, 'February'): 75.3,
 (2012, 'March'): 76.2,
 (2012, 'April'): 76.4,
 (2012, 'May'): 79.3,
 (2012, 'June'): 73.2,
 (2012, 'July'): 72.3,
 (2012, 'August'): 74.3,
 (2012, 'September'): 78.3,
 (2012, 'October'): 82.6,
 (2012, 'November'): 82.7,
 (2012, 'December'): 72.9,
 (2013, 'January'): 73.8,
 (2013, 'February'): 77.6,
 (2013, 'March'): 78.6,
 (2013, 'April'): 76.4,
 (2013, 'May'): 84.5,
 (2013, 'June'): 84.1,
 (2013, 'July'): 85.1,
 (2013, 'August'): 82.1,
 (2013, 'September'): 77.5,
 (2013, 'October'): 73.2,
 (2013, 'November'): 75.1,
 (2013, 'December'): 82.5,
 (2014, 'January'): 81.2,
 (2014, 'February'): 81.6,
 (2014, 'March'): 80.0,
 (2014, 'April'): 84.1,
 (2014, 'May'): 81.9,
 (2014, 'June'): 82.5,
 (2014, 'July'): 81.8,
 (2014, 'August'): 82.5,
 (2014, 'September'): 84.6,
 (2014, 'October'): 86.9,
 (2014, 'November'): 88.8,
 (2014, 'December'): 93.6,
 (2015, 'January'): 98.1,
 (2015, 'February'): 95.4,
 (2015, 'March'): 93.0,
 (2015, 'April'): 95.9,
 (2015, 'May'): 90.7,
 (2015, 'June'): 96.1,
 (2015, 'July'): 93.1,
 (2015, 'August'): 91.9,
 (2015, 'September'): 87.2,
 (2015, 'October'): 90.0,
 (2015, 'November'): 91.3,
 (2015, 'December'): 92.6,
 (2016, 'January'): 92.0,
 (2016, 'February'): 91.7,
 (2016, 'March'): 91.0,
 (2016, 'April'): 89.0,
 (2016, 'May'): 94.7,
 (2016, 'June'): 93.5,
 (2016, 'July'): 90.0,
 (2016, 'August'): 89.8,
 (2016, 'September'): 91.2,
 (2016, 'October'): 87.2,
 (2016, 'November'): 93.8,
 (2016, 'December'): 98.2,
 (2017, 'January'): 98.5,
 (2017, 'February'): 96.3,
 (2017, 'March'): 96.9,
 (2017, 'April'): 97.0,
 (2017, 'May'): 97.1,
 (2017, 'June'): 95.0,
 (2017, 'July'): 93.4,
 (2017, 'August'): 96.8,
 (2017, 'September'): 95.1,
 (2017, 'October'): 100.7,
 (2017, 'November'): 98.5,
 (2017, 'December'): 95.9,
 (2018, 'January'): 95.7,
 (2018, 'February'): 99.7,
 (2018, 'March'): 101.4,
 (2018, 'April'): 98.8,
 (2018, 'May'): 98.0,
 (2018, 'June'): 98.2,
 (2018, 'July'): 97.9,
 (2018, 'August'): 96.2,
 (2018, 'September'): 100.1,
 (2018, 'October'): 98.6,
 (2018, 'November'): 97.5,
 (2018, 'December'): 98.3,
 (2019, 'January'): 91.2,
 (2019, 'February'): 93.8,
 (2019, 'March'): 98.4,
 (2019, 'April'): 97.2,
 (2019, 'May'): 100.0,
 (2019, 'June'): 98.2,
 (2019, 'July'): 98.4,
 (2019, 'August'): 89.8,
 (2019, 'September'): 93.2,
 (2019, 'October'): 95.5,
 (2019, 'November'): 96.8,
 (2019, 'December'): 99.3,
 (2020, 'January'): 99.8,
 (2020, 'February'): 101.0,
 (2020, 'March'): 89.1,
 (2020, 'April'): 71.8,
 (2020, 'May'): 72.3,
 (2020, 'June'): 78.1}

In [11]:
# Converting a single column of a DataFrame to another DataFrame.

umcsi['ICS_ALL'].to_frame()

               ICS_ALL
YYYY Month
1952 November     86.2
1953 February     90.7
     August       80.8
     November     80.7
1954 February     82.0
...                ...
2020 February    101.0
     March        89.1
     April        71.8
     May          72.3
     June         78.1

[602 rows x 1 columns]

# # Exporting .to_csv()

#### Giving the extension while passing the name is necessary.

In [14]:
# Saving the DataFrame as a CSV file locally.

umcsi.to_csv('UMCSI_june-20.csv')

# # Importing Excel files

#### While importing excel files giving file extension(.xls, .xlsx, .xlsm, etc) is necessary.
#### Excel files can have multiple work-sheets, use the "sheet_name" parameter to get data from a specific work-sheet, it takes sheet-name or sheet-index as an argument.

In [15]:
# Reading an Excel file with a single sheet.

pd.read_excel('Datasets/Data - Single Worksheet.xlsx')

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [17]:
# Reading a single sheet in Excel file with multiple sheets.
# Reading the second sheet of an Excel file using sheet-index.

pd.read_excel('Datasets/Data - Multiple Worksheets.xlsx', sheet_name=1)

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

In [18]:
# Reading the second sheet of an Excel file using sheet-name.

pd.read_excel('Datasets/Data - Multiple Worksheets.xlsx', sheet_name='Data 2')

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

#### # Reading multiple sheets simultaniously from an Excel file will return a dictionary, where the key of the dictionary is the value you pass in the "sheet_name" parameter or the actual sheet name, and the value is a DataFrame.

In [19]:
# Reading specific sheets of an Excel file.

pd.read_excel('Datasets/Data - Multiple Worksheets.xlsx', sheet_name=['Data 1', 'Data 2'])

OrderedDict([('Data 1',
                First Name Last Name           City Gender
              0    Brandon     James          Miami      M
              1       Sean   Hawkins         Denver      M
              2       Judy       Day    Los Angeles      F
              3     Ashley      Ruiz  San Francisco      F
              4  Stephanie     Gomez       Portland      F),
             ('Data 2',
                First Name Last Name           City Gender
              0     Parker     Power        Raleigh      F
              1    Preston  Prescott   Philadelphia      F
              2    Ronaldo   Donaldo         Bangor      M
              3      Megan   Stiller  San Francisco      M
              4     Bustin    Jieber         Austin      F)])

In [20]:
# Extracting the DataFrame from the dictionary.

dataDict = pd.read_excel('Datasets/Data - Multiple Worksheets.xlsx', sheet_name=['Data 1', 'Data 2'])
dataDict['Data 2']

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

In [21]:
# Reading data from all the sheets in an Excel file.

pd.read_excel('Datasets/Data - Multiple Worksheets.xlsx', sheet_name=None)

OrderedDict([('Data 1',
                First Name Last Name           City Gender
              0    Brandon     James          Miami      M
              1       Sean   Hawkins         Denver      M
              2       Judy       Day    Los Angeles      F
              3     Ashley      Ruiz  San Francisco      F
              4  Stephanie     Gomez       Portland      F),
             ('Data 2',
                First Name Last Name           City Gender
              0     Parker     Power        Raleigh      F
              1    Preston  Prescott   Philadelphia      F
              2    Ronaldo   Donaldo         Bangor      M
              3      Megan   Stiller  San Francisco      M
              4     Bustin    Jieber         Austin      F)])

# # Exporting to excel files.

### pd.ExcelWriter() Object

#### Writing to Excel files requires a pandas ExcelWriter object That takes the path\name of the excel file to save in. If the file does not exists it will create a new one and if a file with same name already exists it will overwrite it.
#### The sheets in the Excel file will be created in the same order as you assign them.
#### The ExcelWriter() Object is needed to be saved using the .save() method after all the Data is assigned.

In [26]:
females = dataDict['Data 2'][dataDict['Data 2']['Gender'] == 'F']
females

  First Name Last Name          City Gender
0     Parker     Power       Raleigh      F
1    Preston  Prescott  Philadelphia      F
4     Bustin    Jieber        Austin      F

In [32]:
males = dataDict['Data 1'][dataDict['Data 1']['Gender'] == 'M']
males

  First Name Last Name    City Gender
0    Brandon     James   Miami      M
1       Sean   Hawkins  Denver      M

In [36]:
# Creating a pandas Excel Writer object.

excelfile = pd.ExcelWriter('Friends.xlsx')

In [38]:
# Writing a DataFrame to an Excel file

females.to_excel(excelfile, sheet_name='Girls', index=False)     # index=False will exclude row-header in Excel file.

In [40]:
# Writing only certain columns of a DataFrame to an Excel file

males.to_excel(excelfile, sheet_name='Boys', index=False, columns=['First Name', 'City'])

In [41]:
# Saving all the changes.

excelfile.save()